body, html {
	font-family: sans-serif;
	height: 100%;
}
#visualization {
	height: 100%;
}
.vis-item.vis-background.hostile-nation {
	background-color: rgba(255, 0, 0, 0.2);
}
.vis-item.reign {
	background-color: rgba(255, 255, 0, 0.5);
	z-index: 2;
}
.vis-item.reign.visc-right-tail {
	background: 
    	linear-gradient(to right, rgba(255, 255, 0, 0.5), white) padding-box, /*HACK: white for "transparent"*/
    	linear-gradient(to right, #97b0f8, transparent) border-box;
	border-color: transparent;
}